
*.layout
*.exe
obj/Debug/main.o
Tp parciallab.depend
Tp parciallab.depend
*.depend
Tp parciallab.depend
Tp parciallab.depend
Tp parciallab.depend
Tp parciallab.layout
Tp parciallab.depend
Tp parciallab.layout
*.layout
*.depend
Tp parciallab.depend
Tp parciallab.layout
Tp parciallab.depend
Tp parciallab.layout
Tp parciallab.depend
